/* home/style.css */

.title-container h1 {
    color: #152c49;
    font-size: 6.5vw;
    margin: 0;
    margin-top: 2.5%;
}

.title-container h2 {
    color: #152c49;
    font-size: 4.7vw;
    margin-top: -1%;
}

.student-list {
    display: flex;
    flex-direction: column;
    margin-left: -8vw;
}

.student-item {
    display: flex;
    gap: 20px;
    margin-left: -5vw;
}

.student-item button {
    background-color: #01182d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    cursor: default;
    width: 11vw;
}

.mtr-no{
    margin-left: -9vw;
}

.projects{
    display: inline-block;
}

.projects h1 {
    margin-bottom: 20px;
    padding-left: 2.2vw;
    font-size: 3vw;
    color: #152c49;
}

.button-container form button,
form button {
    background-color: #01182d;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container form button:hover,
form button:hover {
    background-color: #33497a;
}

img {
    max-width: 100%;
    height: auto;
}

.students{
    margin: -2vw 10vw;
}

.students h1{
    padding-left: 2.2vw;
    font-size: 2vw;
}

.projects button{
    width: 13vw;
    position: relative;
    left: 2vw;
    margin-bottom: 1vw;
}
/* Center alignment helpers */
.centered-text {
    text-align: center;
}

form {
    display: inline-block;
}
